
name: runner

on:
  push:
    branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]
  schedule:
    - cron: '0 0/3 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Fetch Subscriptions
      run: |
        python Free-servers.py
    - name: Commit
      run: |
        git config --global user.email 2533584225@qq.com
        git config --global user.name lijunjie2232
        git add .
        git commit -m "sub update"
        git pull --rebase
    - name: Push
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.AC_GITHUB_TOKEN }}
